Assignment7/Connected Services/TransformerService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TransformXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XMLUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XSLUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransformXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>